<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JDBC/src/com/nocol/jdbc/JDBCStep.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.nocol.jdbc.JDBCStep"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JDBC"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djdbc.drivers=oracle.jdbc.OracleDriver"/>
</launchConfiguration>
