<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Servlet2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>AAA</param-name>
    <param-value>AAA'value</param-value>
  </context-param>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.nocol.servlet.FirstServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletLife</servlet-name>
    <servlet-class>com.sevlet.life.ServletLife</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>SevletConfigDemo</servlet-name>
    <servlet-class>com.servletconfig.ConfigDemo</servlet-class>
    <init-param>
      <param-name>path</param-name>
      <param-value>I:\\javaWebWorkspace\\Servlet\\a.txt</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ServletContextDemo</servlet-name>
    <servlet-class>com.servletcontext.ServletContextDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletLife</servlet-name>
    <url-pattern>/life</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SevletConfigDemo</servlet-name>
    <url-pattern>/Config</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo</servlet-name>
    <url-pattern>/Context</url-pattern>
  </servlet-mapping>
</web-app>